# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# external data
1_data_manipulations/database.sqlite
2_data_exploration/train.csv
3_linear_regression/database.sqlite
3_linear_regression/player_attributes.csv
5_classification_linear_knn/test.csv
5_classification_linear_knn/train.csv
7_trees_and_ensembles/data/titanic.csv

# review process
3_linear_regression/review/
5_classification_linear_knn/review/
